<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    
    <style>
#maincontainer{
  width: 300px;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(2,2fr);
  grid-gap: 40px;
  align-items: end;
}

#container {
  width: 200px;
  height: 200px;
  position: absolute;
  background: grey;
  border-radius: 50%;
  align-self: start;
}

#updown {
  width: 25px;
  height: 200px;
  background: grey;
}

#leftright {
  width: 200px;
  height: 25px;
  background: grey;
}

#updown {
  width: 25px;
  height: 200px;
  background: grey;
}

#leftright {
  width: 200px;
  height: 25px;
  background: grey;
}

#cursor {
  width: 25px;
  height: 25px;
  position: relative;
  background-color: red;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#cursorlr {
  width: 25px;
  height: 25px;
  position: relative;
  background-color: red;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#cursorud {
  width: 25px;
  height: 25px;
  position: relative;
  background-color: red;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
</style>
    
    <body>

        <!--img src="http://192.168.1.176:8081" /--> <!--Enter the IP Address of your BeagleBone Blue-->

        
        <!-- video server portion -->
        <div style="float:left">
             <!img src="http://192.168.1.176:8090/?action=stream" />
            <img src="http://192.168.0.38:8075/?action=stream" />
        </div>
        

            
        <div style=" height:1000px; width:300px; float:right;">    
          
            
            <!-- control portion -->
            <div id='incontrol'>
                <div> 
                    <center><h2>Control Robot</h2><br><br></center>
                     <!--old controls>
                    <center><a href="#" id="up" style="font-size:30px;text-decoration:none;">  &#x1F881;&#x1F881;<br>Forward</a><br><br></center>
                    <a href="#" id="left" style="font-size:30px;text-decoration:none;"> &#x1F880;&#x1F880;Left</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" id="right" style="font-size:30px; text-decoration:none;"> Right &#x1F882;&#x1F882;</a><br><br>
                    <center><a href="#" id="down" style="font-size:30px;text-decoration:none;"> Backward<br> &#x1F883;&#x1F883;</a></center>
                     <-->
                   
                    
                     <!-- replace the top controls with this? -->
                    <div id = "maincontainer">
                        <div id ="container">
                            <div id ="cursor"></div>
                        </div>
                        <div id ="leftright">
                            <div id ="cursorlr"></div>
                        </div>
                        <div id ="updown">
                            <div id ="cursorud"></div>
                        </div>
                        
                    </div>
                     <p>Robo will no longer take orders from you after </p>
                    <p id='timeleft'></p>
                    <p>more seconds of inactivity</p>
                    
                </div>
            </div>
            
            <div id='waiturturn'>
                <p>Someone else is driving the robo - watch the show and seize control in: </p>
                <p id='momentofopportunity'></p>
                <p>more seconds of inactivity</p>
            </div>
            
            <div id="siezecontrol">
                <p>No one is driving the robo! give it a super secret name and then SEIZE CONTROL!</p>
                <input type="text" name="formname" value="{{name}}" id="formname">
                <input type="button" value="SIEZE CONTROL" id="assume_control"></input>
            </div>
        </div>

        <script>
            var crsr = document.getElementById("cursor");
            var crsrlr = document.getElementById("cursorlr");
            var crsrud = document.getElementById("cursorud");
            
            var cnt = document.getElementById("container");
            var ud = document.getElementById("updown");
            var lr = document.getElementById("leftright");

            $( document ).ready(function(){
                qstring = '?formname='+ document.getElementById('formname').value

                $("#assume_control").on("click", function() {
                 $.get('/assume_control', {"formname": document.getElementById('formname').value}, userfeedback)
                });

                $("#container").on("mousedown", function(e){
                  coords = getClickPosition(e, crsr);
                  $.get('/polar_in', {
                    "formname": document.getElementById('formname').value,
                    "distX": -coords.X,
                    "distY": -coords.Y
                  })
                }).on('mouseup', function(){
                    $.get('/stop', {
                      "formname": document.getElementById('formname').value
                    })
                    setToCenter(crsr, cnt);
                });
                
                $("#updown").on("mousedown", function(e){
                  coords = getClickPosition(e, crsrud, "y");
                  $.get('/updown_in', {
                    "formname": document.getElementById('formname').value,
                    "distY": coords.Y
                  })
                });
                
                $("#leftright").on("mousedown", function(e){
                  coords = getClickPosition(e, crsrlr, "x");
                  $.get('/leftright_in', {
                    "formname": document.getElementById('formname').value,
                    "distX": -coords.X
                  })
                }).on('mouseup', function(){
                    $.get('/stop', {
                      "formname": document.getElementById('formname').value
                    })
                    setToCenter(crsrlr, lr);
                });

                function feedbackcallback(data, textStatus, jqXHR){
                    if (data.control) {
                        // you have the con
                        document.getElementById('incontrol').setAttribute('style', 'display:block;')
                        document.getElementById('waiturturn').setAttribute('style', 'display:none;')
                        document.getElementById('siezecontrol').setAttribute('style', 'display:none;')
                        document.getElementById('timeleft').innerHTML = data.timeleft
                    } else if (!data.possessed) {
                        // robo is up for grabs
                        document.getElementById('incontrol').setAttribute('style', 'display:none;')
                        document.getElementById('waiturturn').setAttribute('style', 'display:none;')
                        document.getElementById('siezecontrol').setAttribute('style', 'display:block;')
                    } else {
                        // another ghost possesses the robo
                        document.getElementById('incontrol').setAttribute('style', 'display:none;')
                        document.getElementById('waiturturn').setAttribute('style', 'display:block;')
                        document.getElementById('siezecontrol').setAttribute('style', 'display:none;')
                        document.getElementById('momentofopportunity').innerHTML = data.timeleft
                    }
                }

                function userfeedback(){
                     $.get('/feedback', {"formname": document.getElementById('formname').value}, feedbackcallback)
                }

                setInterval(userfeedback,1000);
                userfeedback();
            });

            //code for using the "joystick drive"
            //right now it only outputs commands to the console

        function setToCenter(e, cntr){
            var parentPosition = getPosition(e.currentTarget);
            var xPosition =  -parentPosition.x + cntr.clientWidth/2 - (e.clientWidth / 2);
            var yPosition =  -parentPosition.y + cntr.clientHeight/2 - (e.clientHeight / 2);
            e.style.left = xPosition + "px";
            e.style.top = yPosition + "px";
            console.log("center: " + xPosition + " " + yPosition);
        }

        setToCenter(crsr, cnt);
        setToCenter(crsrud, ud);
        setToCenter(crsrlr, lr);
        
        function resetToCenter(){
            setToCenter(crsr, cnt);
        }

        //gets click position and converts it to polarCoordinates
        //make these coordinates go to the robot eventually
        function getClickPosition(e, crs, xy = "xy") {
            var parentPosition = getPosition(e.currentTarget);
            
            var xPosition = e.clientX - parentPosition.x - (crs.clientWidth / 2);
            var yPosition = e.clientY - parentPosition.y - (crs.clientHeight / 2);
            
            if(xy === "x" || xy === "xy"){
                crs.style.left = xPosition + "px";
            }
            if(xy === "y" || xy === "xy"){
                crs.style.top = yPosition + "px";
            }
            
            xParentCenter = parentPosition.x + cnt.clientWidth/2;
            yParentCenter = parentPosition.y + cnt.clientHeight/2;
            
            polarCoord = cartesian2Polar(e.clientX - xParentCenter, e.clientY - yParentCenter);
            xyCoord = {X:-(e.clientX - xParentCenter) / (cnt.clientWidth/2), Y:-(e.clientY - yParentCenter) / (cnt.clientHeight/2)};
            
            //console.log(polarCoord.distance + " " + (polarCoord.radians * (180/Math.PI)));
            //console.log(e.clientX - xParentCenter, e.clientY - yParentCenter);
            //console.log(xPosition + " " + yPosition);
            console.log("coord: " + xyCoord.X, + " " + xyCoord.Y);
            return xyCoord;
        }

        function cartesian2Polar(x, y){
            distance = Math.sqrt(x*x + y*y)
            radians = Math.atan2(y,x) //This takes y first
            polarCoor = { distance:distance, radians:radians }
            return polarCoor
        }

        // Helper function to get an element's exact position
        function getPosition(el) {
          var xPos = 0;
          var yPos = 0;
         
          while (el) {
            if (el.tagName == "BODY") {
              // deal with browser quirks with body/window/document and page scroll
              var xScroll = el.scrollLeft || document.documentElement.scrollLeft;
              var yScroll = el.scrollTop || document.documentElement.scrollTop;
         
              xPos += (el.offsetLeft - xScroll + el.clientLeft);
              yPos += (el.offsetTop - yScroll + el.clientTop);
            } else {
              // for all other non-BODY elements
              xPos += (el.offsetLeft - el.scrollLeft + el.clientLeft);
              yPos += (el.offsetTop - el.scrollTop + el.clientTop);
            }
         
            el = el.offsetParent;
          }
          return {
            x: xPos,
            y: yPos
          };
        }

        </script>
    </body>
</html>
